# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
gen
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.gif
target
.class
/log/
/logs/
*.log
/.idea/
.idea
**/bootstrap.yml
